.btn {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  padding: 0 3rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.8rem;
  text-align: center;
  background-color: #ffd7d7;
  cursor: pointer;
  outline: none;
  transition-property: box-shadow, background-color;
  transition-duration: 0.65s;
  max-width: 7rem;
}

.btn:focus {
  box-shadow: 0 0 0 2px green;
}

.btn:hover {
  background-color: #f6a7a7;
}
