.btn {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  padding: 0 3rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.8rem;
  color: black;
  text-align: center;
  background: #ffff;
  cursor: pointer;
  outline: none;
  transition-property: box-shadow, background;
  transition-duration: 0.35s;
  max-width: 7rem;
  span {
    background: transparent;
  }
}

.btn:focus {
  box-shadow: 0 0 0 2px #f16b50;
}

.btn:hover {
  background: #ffd7d7;
}
