@import "../abstracts/variables";

* {
  box-sizing: border-box; /* réinitialise le modèle de boîte à border-box pour tous les éléments HTML*/
  scroll-behavior: smooth; /*Faire défiler progressivement*/
}
section {
  padding: 25px 15px;
}
// * Common to several elements
header,
main,
footer > div {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

// * Named Transitions
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.9s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
// * Common to several elements
