@import "../abstracts/variables";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,400&display=swap');

* {
  font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
  color: $typo;
  list-style-type: none;
  letter-spacing: 0.1rem;
}
a {
  text-decoration: none;
}
