# Secret key used to sign JWT tokens
JWT_SECRET=******

#Refresh token
JWT_jwtExpiration=3600
JWT_jwtRefreshExpiration=86400
REFRESH_TOKEN_SECRET=******

#Refresh token for test
JWT_jwtExpirationTest=60
JWT_jwtRefreshExpirationTest=120

# cryto-js keys
PASSPHRASE=pass-phrase
IV=pass-phrase-iv

# MySQL Database
MYSQL_HOST=
MYSQL_DATABASE=
MYSQL_USERNAME=
MYSQL_PASSWORD=
MYSQL_PORT=

## 👇🏾 Don't change anything below 👇🏾

# App host / port configuration
PORT=3000

# Client app URL
CLIENT_ENDPOINT='http://127.0.0.1:8081'
