.btn {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height:4.5rem;
  padding: 0 3rem;
  font-family: inherit;
  font-size:1.25rem;
  border:0;
  border-radius:0.5rem;
  color:black;
  text-align: center;
  background:#8de8fe;
  cursor: pointer;
  outline: none;
  transition-property: box-shadow, background;
  transition-duration:0.35s;
  max-width: 8rem;
}
.button:focus{
  box-shadow: 0 0 0 3px #95d7e7;
}
.button:hover{
  background:#08708a;
}