@import "../abstracts/variables";

* {
  background-color: $bg;
  box-sizing: border-box; /* réinitialise le modèle de boîte à border-box pour tous les éléments HTML*/
  scroll-behavior: smooth; /*Faire défiler progressivement*/
}
section {
  padding: 25px 15px;
}
/*common to several elements*/
header,
main,
footer > div {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}
/*common to several elements*/
