@import "../abstracts/variables";

@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900);
@import url(http://fonts.cdnfonts.com/css/belligerent-madness);
* {
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
  color: $typo;
  list-style-type: none;
  letter-spacing: 0.1rem;
}
a {
  text-decoration: none;
}
